/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

ol, ul {

    font-size: 35px;
    color: black;
    list-style-type:decimal;
    padding-bottom: 10px;

}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.row{
    display: flex;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.header{
    height: 100px;
    background-color: green;
}

h1{ 
    color: white;
    font-size: 70px;
    text-align: right;
    margin-right: 200px;
    margin-top: 5px;
    padding-top: 20px;
    text-shadow: 2px 2px rgb(38, 0, 255);
    
}
h2{
    padding-left: 30px;
    font-size: 40px;
    padding-top: 20px;
    text-shadow: 2px 2px rgb(232, 231, 238);
}
.column{
    margin-left:30px;
    margin-right: 80px;
    margin-top: 30px;
    width :50%;
    float: left;
}
.column form{
    padding-top:10px;
    margin : 30px;
    font-size:30px;
    text-shadow: 2px 2px rgb(232, 231, 238);
}
.column form input{
    margin-bottom : 3px;
}

.column form label{
    padding-top: 5px;
}
.column1 form{
    padding-top:5px;
    margin : 30px;
    font-size:20px;
    text-shadow: 2px 2px rgb(232, 231, 238);
}
.column1 form input{
    margin-bottom : 12px;
    margin-top: 5px;
}
.column1 form select{
    margin-bottom : 12px;
    margin-top: 5px;
}
#birthday{
    margin-bottom : 0px;
}
.column1 form input[type="checkbox"] {
    margin-top : 10px;
}

.column table{
    margin : 30px;
    width: 20%;
}

.column table, th ,td {
    border : 1px dashed blueviolet;
    border-width: 3px;
    font-size: 22px;
    text-size-adjust: auto;
}
.column td {
    text-align: center;   
    padding: 3px;
}


@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
.footer{
    height: 100px;
    background-color:darkblue;
}
a{
    font-size:24px;
    color: black;
    text-align: center;
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    background-color: lightblue;
}

a:hover{
    color: lightgray;
    background-color: blue;
}